:root {
	--feedback-pass: #3EA882;
	--feedback-fail: #EB5B4B;
}

body {
	font-family: sans-serif;
	font-size: 15px;
	margin: 0;
	line-height: 1.5;
	color: #fff;
	background: url(bg.png) 0 0 no-repeat, #16161B url(bg2.png) 100% 100% no-repeat;
	min-height: 100vh;
}

#runway-logo {
	position: relative;
	top: 24px;
	left: 50px;
}

.wrap {
	width: 680px;
	margin: 0 auto;
}

h1 {
	font-weight: normal;
	margin: 55px 0;
	font-size: 20px;
	text-align: center;
}

h1 span {
	font-size: 13px;
	opacity: 0.6;
}

/* button */
.buttons {
	text-align: right;
}
button {
  cursor: pointer;
}
button.primary {
  padding: 0 1.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  width: auto;
  height: 32px;
  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #393847;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button.primary {
  background: #944af2;
  color: #fff;
  height: 32px;
}
button.primary:not(:disabled):hover {
  background: #763bc2;
}

/* form control  */
.control {
	position: relative;
	font-weight: 500;
	color: #A9A9BC;
}
.control + .control {
	margin-top: 16px;
}
.control input[type='text'],
.control input[type='file'],
.control textarea {
	position: relative;
	line-height: inherit;
	font-family: inherit;
	font-size-adjust: inherit;
	color: #E2E2E9;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid #595973;
	background: #16161B;
	box-sizing: border-box;
	width: 100%;
	outline: 0 none;
	margin: 8px 0 0;
	line-height: 18px;
	appearance: none;
	font-size: 13px;
}
.control input[type='file'] {
	padding-right: 100px;
}
.control input[type='file']::file-selector-button {
	position: absolute;
	top: 7px;
	right: 8px;
	color: #944AF2;
	background: #2D2D39;
	border: 0 none;
	padding: 4px 8px;
	font-size: 13px;
	border-radius: 4px;
	grid-column: 2 / 3;
}

/* result  */
.result {
	position: relative;
	margin: 40px 0;
	padding: 16px 20px 20px;
	background: #16161B;
	border: 1px solid #595973;
	border-radius: 4px;
	display: none;
}
.result.on {
	display: block;
}
.message {
	color: #A9A9BC;
	margin: 0 0 8px;
}
.message.pass {
	color: var(--feedback-pass);
}
.message.fail {
	color: var(--feedback-fail);
}
svg.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	width: 40px;
	height: 40px;
	display: none;
}
.loading svg.loading {
	display: block;
}
